[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
aiohttp = {extras = ["speedups"], version = ">=2.3.5"}
aiohttp-jwt = "*"
aiofiles = "*"
yadisk-async = "*"
fastjsonschema = "*"
uvloop = "*"
gunicorn = "*"
requests = "*"
pytest = "*"

[dev-packages]
flake8 = "*"
pylint = "*"
isort = "*"

[requires]
python_version = "3.7"
